SENDGRID_API_KEY=""
FROM_EMAIL=""
APP_BASE_URL=http://localhost:3000
SLACK_BOT_TOKEN=""
NGROK_AUTHTOKEN=""



# Start temporal server -> temporal server start-dev


# Everytime on fresh start 
# Start ngrok from its extracted folder->  .\ngrok http 3000 
# Then add the provided domain by ngrok into Slack request URL -> https://api.slack.com/apps/A0AGFB787DL/interactive-messages

#  Olama runs on : http://localhost:11434

# sample  Question :  What is our SLA for outages?